---
title: Work
---
<h1>{{ page.title }} (I've done)</h1>

{% for place in site.data.work %}
<h2><a href="{{ place.link }}">{{ place.name }}</a></h2>
  <ul>
    {% for position in place.positions %}
      <li>
	<strong>{{ position.title }}</strong> ({{ position.from }} - {{ position.to }})
      </li>
    {% endfor %}
  </ul>
  <p class="work-description">{{ place.description }}</p>
  {% if place.notes %}
    <details class="work-notes">
      <summary>Personal notes</summary>
      <p class="work-notes-content">{{ place.notes }}</p>
    </details>
  {% endif %}
{% endfor %}

<hr>

<h1>FAQ</h1>
<ul>
  <li>
    <strong>Why not mention technologies or languages used?</strong>
    <p>I don't think that tech is a major obstacle. I've seen whole teams move to new languages and new frameworks successfully. I've also seen people claiming proficiency in a multitude of technologies struggle with the most basic tasks. Ability to learn, adapt and understand is what I think matters, and it's not easy to prove that on a resume.</p>
  </li>
  <li>
    <strong>Did you study?</strong>
    <p>Yes, I have an engineering degree, however not in computer science. I'm a self-taught programmer.
  </li>
</ul>
